<!DOCTYPE html>
<html>
<head>
    <title>Edit Product</title>
</head>
<body>
<h2>Chỉnh Sửa Sản Phẩm</h2>
<form action="/update/<%= product.id %>" method="post">
    Name: <input name="name" value="<%= product.name %>"><br>
    Price: <input name="price" value="<%= product.price %>"><br>
    Quantity: <input name="quantity" value="<%= product.quantity %>"><br>
    <button type="submit">Update</button>
</form>
<a href="/">Hủy</a>
</body>
</html>