
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <title><%= title || 'Product CRUD' %></title>
    <link rel="stylesheet" href="/public/css/styles.css" />
</head>
<body>
<div class="container">
    <h1><%= title || 'Quản lý sản phẩm' %></h1>
    <%- body %>
</div>
</body>
</html>
``
